<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hlc.manager.mapper.NewsMapper">

    <select id="findNewsByName" resultType="com.hlc.manager.entity.News">
        select * from news where news.=#{username}
    </select>

    <select id="getNews" resultType="com.hlc.manager.entity.News">;
        select * from news
    </select>
</mapper>